body{
    background-color: #6ee2a8;

}

h1{
    color: rgb(23, 122, 76);
    background-color: #e1e178;
}

#show_sketch{
    float: right;

}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 80px;
    animation-iteration-count: infinite;

}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(84, 140, 186);}
    to{box-shadow: 1px 1px 38px rgb(196, 106, 121);}
}

p{
    padding-top: 10px;
    font-size: 25px;

}